In [ ]:
# twitter

In [7]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ca-license-plates/applications.csv')

In [3]:
df.head()

,plate,review_reason_code,customer_meaning,reviewer_comments,status
0,AZIZ714,2,LAST NAME,714 AREA CODE,N
1,BATBOX1,1,BATMOBILE (BATMAN) PLUS SHAPE OF VEHICLE (SCIO...,BOX,N
2,BBOMBS,2,NO MICRO AVAILABLE,BOMBS,N
3,BEACHY1,4,LOVE THE BEACH,BEACHY LOOKS LIKE BITCHY 1,N
4,BLK PWR5,2,STRENGTH OF FAMILY,BLACK POWER,N

In [4]:
df.shape

(23463, 5)

In [5]:
df_n = df.loc[df['status']=='N']

In [6]:
df_n.shape

(18757, 5)

In [12]:
row_id = np.random.randint(len(df_n))

In [13]:
row = df.iloc[row_id]

In [17]:
row

plate                                       DMNDNYL
review_reason_code                                3
customer_meaning                        DAMN DANIEL
reviewer_comments     DAMN, CUSTOMER NAME IS DANIEL
status                                            N
Name: 4320, dtype: object

In [21]:
tweet = (
    f'Californian: Hey DMV, can I have a license plate that says {row[0]}?\n'
    'DMV: Why?\n'
    f'C: Because {row[2]}, duh.\n'
    'DMV: No.\n'
    'C: But why not?!\n'
    f'DMV: Well, because {row[3]}'
)

In [23]:
print(tweet)

Californian: Hey DMV, can I have a license plate that says DMNDNYL?
DMV: Why?
C: Because DAMN DANIEL, duh.
DMV: No.
C: But why not?!
DMV: Well, because DAMN, CUSTOMER NAME IS DANIEL

In [24]:
import os

In [26]:
os.environ['consumer_key'] = 'consumer_key'

In [ ]:
import tweepy
import config
  
# authentication of consumer key and secret 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
# authentication of access token and secret 
auth.set_access_token(access_token, access_token_secret) 
api = tweepy.API(auth) 
  
# update the status 
api.update_status(status=tweet)